body {
	background: rgb(0,46,71);
}

#main-content {
	width: 1000px;
	margin: 0 auto;
	height: 1000px;
	background-color: rgb(212,212,212);
}

#header {
	width: 100%;
	height: 5%;
	background-color: rgb(255,0,0);
}

#coverflow {
	width: 100%;
	height: 20%;
	margin: 0 auto;
	background-color: rgb(0,115,175);
}

#products {
	width: 60%;
	height: 60%;
	margin: 0 auto;
	background-color: rgb(0,255,0);
	float: left;
}

#activity {
	width: 40%;
	height: 60%;
	margin: 0 auto;
	background-color: rgb(0,0,255);
	float: right;
}

#footer {
	width: 100%;
	height: 15%;
	margin: 0 auto;
	background-color: rgb(255,0,0);
	float: left;
}

